@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 350px;
    width: 100%;
    background: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.input-field {
    border-bottom: 1px solid #999;
}

.btn:hover {
    background-color: #444;
}

